:root {
    --colorFuente: #464646;
    --colorFuenteSecundario: #2a7ae4;
    --fondoPrincipal: #f5f5f5;
    --fondoSecundario: #eaf2fd;
}

html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
}

/* ========================== */
/* GLOBALES */
/* ========================== */
li {
    list-style: none
}

a {
    text-decoration: none;
    color: var(--colorFuente);
}

.boton {
    width: auto;
    height: 5.1rem;
    background: var(--colorFuenteSecundario);
    border: 1px solid var(--colorFuenteSecundario);
    color: #FFF;
    display: inline-block;
    padding: 1.6 2rem;
    font-size: 1.2rem;
}
.boton:hover {
    background-color: transparent;
    transition: all .3s ease-in-out;
    color: var(--colorFuenteSecundario);
}

.heading {
    color: var(--colorFuente);
    font-weight: bolder;
}

.subheading {
    color: var(--colorFuente);
    font-size: 1.5rem;
}

.texto__principal {
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--colorFuente);
}

.texto__secundario {
    color: var(--colorFuente);
    font-size: 1.4rem;
}