:root {
    --colorFuente: #464646;
    --colorFuenteSecundario: #2a7ae4;
    --fondoPrincipal: #f5f5f5;
    --fondoSecundario: #eaf2fd;
}

html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
    background-color: var(--fondoPrincipal);
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
}

/* ========================== */
/* GLOBALES */
/* ========================== */
.container {
    max-width: 140rem;
    margin: 0 auto;
}
@media (max-width: 780px) {
    .container {
        max-width: 90%;
    }
}
@media (min-width: 900px) {
    .container {
        max-width: 85%;
    }
}


li {
    list-style: none
}

a {
    text-decoration: none;
    color: var(--colorFuente);
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 600px) {
    .flex-column-reverse {
        flex-direction: column-reverse;
    }
}

.boton {
    width: auto;
    height: 5.1rem;
    background: var(--colorFuenteSecundario);
    border: 1px solid var(--colorFuenteSecundario);
    color: #FFF;
    display: inline-block;
    padding: 1.6 2rem;
    font-size: 1.2rem;
}
.boton:hover {
    background-color: transparent;
    transition: all .3s ease-in-out;
    color: var(--colorFuenteSecundario);
}

.heading {
    color: var(--colorFuente);
    font-weight: bolder;
    font-size: 2.5rem;
}

@media (min-width: 780px) {
    .heading {
        font-size: 5rem
        
    }
}

.subheading {
    color: var(--colorFuente);
    font-size: 1.5rem;
}

.texto__principal {
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--colorFuente);
}

.texto__secundario {
    color: var(--colorFuente);
    font-size: 1.4rem;
}

/* ========================== */
/* HEADER */
/* ========================== */
header {
    padding: 4rem 0 4rem 0;

}

header .nombre__desarrollador {
    display: flex;
    gap: 1rem;
}

header .nombre__desarrollador i {
    color: var(--colorFuente);
}

header .nombre__desarrollador p, .contacto__correo {
    font-weight: bolder;
    color: var(--colorFuente);
}

.nombre__desarrollador .nombre_mobile {
    display: none;
}

@media(max-width: 600px) {
    .nombre__desarrollador .nombre_desktop {
        display: none;
    }
    .nombre__desarrollador .nombre_mobile {
        display: inline-block;
    }
}
/* HEADER NAVEGACION */
.navegacion .navegacion__items {
    gap: 2rem;
}

.items__navegacion:hover {
    font-weight: bolder;
    transition: all .3s ease-in-out;
}

@media (max-width: 780px) {
    .items__navegacion {
        display: none;
    }
}

@media (max-width: 600px) {
    .contacto__correo {
        font-weight: normal;
    }
}

/* ========================== */
/* MAIN PRESENTACION*/
/* ========================== */
main.presentacion {
    margin: 2rem auto;
    gap: 2rem
}

@media (min-width: 768px) and (max-width: 900px) {
    .descripcion-presentacion {
        width: 50rem 
    }
}

.descripcion-presentacion h1 {

}

.descripcion-presentacion p {
    font-size: 2.5rem;
    color: var(--colorFuente);
    padding-right: 2rem;
}
@media (max-width: 768px) {
    .descripcion-presentacion p {
        font-size: 1.5rem;
        padding: 0
    }
}

/* ENLACES PRESENTACION */
.enlaces-presentacion {
    margin: 3rem 0;
}

.lista-enlaces__presentacion {
    display: flex;
    align-items: center;
    gap: 2rem;
}
@media (min-width: 780px) {
    .lista-enlaces__presentacion {
        gap: 4rem;
    }
}

@media (max-width: 600px) {
    .lista-enlaces__presentacion li {
        font-size: 1.3rem;
    }
}

.lista-enlaces__presentacion li a:hover {
    text-decoration: underline;
}

.fa-arrow-up {
    margin: 0 1rem;
    transform: rotate(45deg);
    font-size: 2rem;
}
@media (max-width: 780px) {
    .fa-arrow-up {
        margin: 0 .5rem;
        font-size: 1.2rem;
    }
}

/* PRESENTACION FOTO DE PERFIL */
.foto__perfil {
    width: 100%;
    text-align: left;
}
.foto__perfil img {
    border-radius: 50%;
    width: 15rem;
}
@media (min-width: 760px) and (max-width: 900px) {
    .foto__perfil {
        width: 26.8rem;
        text-align: center;
    }
    .foto__perfil img {
        width: 20rem;
    }
}
@media (min-width: 900px) {
    .foto__perfil {
        width: auto;
    }

    .foto__perfil img {
        width: 100%;
    }
}