:root {
    --colorFuente: #464646;
    --colorFuenteSecundario: #8e9296;
    --fondoPrincipal: #f5f5f5;
    --fondoSecundario: #eaf2fd;
    --fondoBotones: #2a7ae4;
}

html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
    background-color: var(--fondoPrincipal);
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
}

/* ========================== */
/* GLOBALES */
/* ========================== */
.container {
    max-width: 140rem;
    margin: 0 auto;
}
@media (max-width: 780px) {
    .container {
        max-width: 90%;
    }
}
@media (min-width: 900px) {
    .container {
        max-width: 85%;
    }
}

li {
    list-style: none
}

a {
    text-decoration: none;
    color: var(--colorFuente);
}

.flex {
    display: flex;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 600px) {
    .flex-column-reverse {
        flex-direction: column-reverse;
    }
}

.boton, .boton-transparente {
    width: auto;
    height: 5rem;
    padding: 2rem 2rem;
    border: 1px solid var(--fondoBotones);
    font-size: 1.2rem;
}

.boton:hover, .boton-transparente:hover {
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.boton {
    background-color: var(--fondoBotones);
    color: #FFF;
}
.boton:hover {
    background-color: transparent;
    color: var(--fondoBotones);
}

.boton-transparente {
    background-color: transparent;
    color: var(--fondoBotones);
}
.boton-transparente:hover {
    background-color: var(--fondoBotones);
    color: #FFF;
}

.heading {
    color: var(--colorFuente);
    font-weight: bolder;
    font-size: 3rem;
}

@media (min-width: 780px) {
    .heading {
        font-size: 6rem
        
    }
}

.subheading, .subheading-h3, .texto__principal, .texto__secundario {
    color: var(--colorFuente);
}

.subheading {
    font-size: 1.5rem;
}

.subheading-h3 {
    font-size: 2rem;
    margin: 1.5rem 0;
}
@media (min-width: 780px) {
    .subheading-h3 {
        font-size: 2.5rem;
    }
}

.texto__principal {
    font-weight: bold;
    font-size: 1.8rem;
}

.texto__secundario {
    font-size: 1.4rem;
}

/* ========================== */
/* HEADER */
/* ========================== */
header {
    padding: 4rem 0 4rem 0;

}

header .nombre__desarrollador {
    display: flex;
    gap: 1rem;
}

header .nombre__desarrollador i {
    color: var(--colorFuente);
}

header .nombre__desarrollador p, .contacto__correo {
    font-weight: bolder;
    color: var(--colorFuente);
}

.nombre__desarrollador .nombre_mobile {
    display: none;
}

@media(max-width: 600px) {
    .nombre__desarrollador .nombre_desktop {
        display: none;
    }
    .nombre__desarrollador .nombre_mobile {
        display: inline-block;
    }
}
/* HEADER NAVEGACION */
.navegacion .navegacion__items {
    gap: 2rem;
}

.items__navegacion:hover {
    font-weight: bolder;
    transition: all .3s ease-in-out;
}

@media (max-width: 780px) {
    .items__navegacion {
        display: none;
    }
}

@media (max-width: 600px) {
    .contacto__correo {
        font-weight: normal;
    }
}

/* ========================== */
/* MAIN PRESENTACION*/
/* ========================== */
main.presentacion {
    margin: 2rem auto;
    gap: 2rem
}

@media (min-width: 768px) and (max-width: 900px) {
    .descripcion-presentacion {
        width: 50rem 
    }
}

.descripcion-presentacion h1 {

}

.descripcion-presentacion p {
    font-size: 2.5rem;
    color: var(--colorFuente);
    padding-right: 2rem;
}
@media (max-width: 768px) {
    .descripcion-presentacion p {
        font-size: 1.5rem;
        padding: 0
    }
}

/* ENLACES PRESENTACION */
.enlaces-presentacion {
    margin: 3rem 0;
}

.lista-enlaces__presentacion {
    display: flex;
    align-items: center;
    gap: 1rem;
}
@media (min-width: 780px) {
    .lista-enlaces__presentacion {
        gap: 4rem;
    }
}

@media (max-width: 600px) {
    .lista-enlaces__presentacion li {
        font-size: 1.3rem;
    }
}

.lista-enlaces__presentacion li a:hover {
    text-decoration: underline;
}

.fa-arrow-up {
    margin: 0 1rem;
    transform: rotate(45deg);
    font-size: 2rem;
}
@media (max-width: 780px) {
    .fa-arrow-up {
        margin: 0 .5rem;
        font-size: 1.2rem;
    }
}

/* PRESENTACION FOTO DE PERFIL */
.foto__perfil {
    width: 100%;
    text-align: left;
}
.foto__perfil img {
    border-radius: 50%;
    width: 15rem;
}
@media (min-width: 760px) and (max-width: 900px) {
    .foto__perfil {
        width: 26.8rem;
        text-align: center;
    }
    .foto__perfil img {
        width: 20rem;
    }
}
@media (min-width: 900px) {
    .foto__perfil {
        width: auto;
    }

    .foto__perfil img {
        width: 100%;
    }
}

/* ========================== */
/* SOBRE MI*/
/* ========================== */
section.sobre__mi {
    background-color: var(--fondoSecundario);
    padding: 4rem 0;
}

.contenido__sobre-mi > h1, p, img {
    margin-bottom: 2rem;
}   

.heading__margin-top {
    margin-top: 0;
}

.contenido__sobre-mi p {
    font-size: 2rem;
    color: var(--colorFuenteSecundario);
}

@media (min-width: 1500px) {
    .contenido__sobre-mi p {
        padding-right: 40rem;
    }
}

.firma__sobremi {
    margin-top: 2rem;
    width: 20rem;
}

/* ========================== */
/* SKILLS Y HOBBIES*/
/* ========================== */
.skills {
    background-color: var(--fondoPrincipal);
    text-align: center;
    padding-bottom: 10rem;
}

.contenido__skills-hobbies {

}

.contenido__skills {

}

.contenido__items-skills {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.items_skills {
    background-color: #FFFFFF;
    width: 45%;
    height: 13rem;
    padding: 2rem;
    position: relative;
}

@media (min-width: 780px) {
    .items_skills {
        width: 30%;
        height: 23rem;
    }
}

@media (min-width: 1600px) {
    .items_skills {
        width: 15%;
        height: 23rem;
    }
}

.text__skills {
    text-align: left;
    position: relative;
    top: 2rem;
}
@media (min-width: 768px) {
    .text__skills {
        top: 3rem;
        position: absolute;
    }
}

@media (min-width: 1200px) {
    .text__skills {
        top: 12rem;
        position: absolute;
    }
}

.items_skills i{
    font-size: 3rem;
    color: #2a7ae4;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .items_skills i{
        font-size: 4.5rem;
    }
}

.items_skills h2 {
    font-size: 1.5rem;
}
@media (min-width: 768px) {
    .items_skills h2 {
        font-size: 2rem;
    }
}


/* CONTENIDO HOBBIES */
.contenido__hobbies {
    margin-top: 10rem;
}

/* ========================== */
/* FORMACION ACADEMICA*/
/* ========================== */
.formacion__academica {
    background-color: var(--fondoSecundario);
    text-align: center;
    padding: 4rem 0;
}

.escuelas__academica {
    flex-wrap: wrap;
}

.tarjeta__academica {
    width: 100%;
    margin: 0 auto
}   
@media (min-width: 780px) {
    .tarjeta__academica {
        width: 30%;
    }
}

.academica__imagen {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    background-color: #FFFFFF;
}
@media (min-width: 780px) {
    .academica__imagen {
        height: 40rem;
    }
}

.academica__imagen img {
    width: 15rem;
}

@media (min-width: 768px) {
    .academica__imagen img {
        width: 25rem;
    }
}

.academica__descripcion {
    text-align: left;
}

/* ========================== */
/* EXPERIENCIA PROFESIONAL */
/* ========================== */
.experiencia__profesional {
    padding: 2rem 0;
}

.experiencia__profesional h1 {
    text-align: center;
}

.experiencia__profesional-content {
    margin: 5rem 0;
    gap: 2rem;
}

.row-reverse {
    flex-direction: row-reverse;
}
@media (max-width: 768px) {
    .row-reverse {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .flex-column {
        flex-direction: column;
    }
}

.content__experiencia-img img {
    width: 100%;
}

.interaccion__experiencia {
    flex-direction: column;
    justify-content: center;
}

/* ========================== */
/* EXPERIENCIA PROFESIONAL */
/* ========================== */
.contacto {
    background-color: var(--fondoSecundario);
    padding: 5rem 0;
}

.contenido__contacto {
    padding: 1rem 0;
    gap: 2rem;
}

.contacto__img {
    display: none;
}
@media (min-width: 780px){
    .contacto__img {
        display: inline-block;
        width: 40%;
        height: calc(100vh - 20rem);
        background-image: url(../img/telefono__contacto.png);
        background-size: cover;
        background-position: center center;
    }
}

.contacto__img img {
    width: 100%;
    margin: 0;
}

.contacto__form {

}
@media (min-width: 780px) {
    .contacto__form {
        width: 60%;
    }
}

.contacto__form form {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

}

form .campos {
    margin: 2rem 0;
}
@media (min-width: 780px) {
    form .campos {
        margin: 0;
    }
}
form label {
    color: var(--colorFuente);
}

form .label__contacto {
    font-size: 3rem;
    margin-bottom: 2rem;
    display: inline-block;
    font-weight: bolder;
}
@media (min-width: 780px) {
    form .label__contacto {
        font-size: 5rem;
    }
}

form .campos input, .campos textarea{
    border: none;
    border-bottom: 2px solid #C8C8C8;
    border-radius: .5rem;
    padding-left: 2rem;
    padding-top: 2rem;
    font-size: 2rem;
}

form .campos input::placeholder, .campos textarea::placeholder {
    color: #C8C8C8;;
}

form .campos input:focus, .campos textarea:focus {
    border-bottom: 1px solid var(--fondoBotones);
}

.form__full-size {
    width: 100%;
    height: 7rem;
}

.mensaje {
    height: 20rem
}

.enviar__mensaje {
    width: 20rem;
}

@media (max-width: 768px) {
    .enviar__mensaje {
        margin-top: 2rem;
    }
}

